<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
@*@{
    ViewData["Title"] = "Index Page";
}

<form enctype="multipart/form-data" method="post" asp-controller="Attachment" asp-action="UploadFile">
    <dl>
        <dt>
            <label>Upload</label>
        </dt>
        <dd>
            <input type="file" name="FormFile" id="FormFile" multiple />

        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>*@